{{ $width_left :=  .Get "wl" }}
{{ $width_right := .Get "wr" }}
{{ $file_path := .Get "embed" }}
{{ $content_side := .Get "content" }}
{{ $base_path := $.Page.Dir }}
{{ $full_file_path := (path.Join $base_path $file_path) }}
{{ $c_embed := readFile $full_file_path }}
{{ $left := cond (eq $content_side "right") $c_embed .Inner}}
{{ $right := cond (eq $content_side "right") .Inner $c_embed }}
<div class="row">
    <div class="col-{{ $width_left }}">
      {{ $left | markdownify }}
    </div>
    <div class="col-{{ $width_right }}">
      {{ $right | markdownify }}
    </div>
  </div>